<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credits</title>
    <link type="image/x-icon" rel="icon" href="{{ url_for('static', filename='assets/images/favicon.png') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}" />
</head>
<body>
<div class = title>
    <h1>Credits</h1>
</div>
<div class = ruleContainer>
    <div class = rules>
        <button>Insert Credits Here</button>
    </div>


</div>
<a href="/" class="btnStack">back to the menu</a>



</body>
</html>
